common --color=yes
common --experimental_ui_max_stdouterr_bytes=1073741819

# Enable Bzlmod
build:bzlmod --enable_bzlmod
build:bzlmod --check_direct_dependencies=error

# bazel build
build --config=bzlmod

# bazel test
test --test_output=all --action_env="GTEST_COLOR=1"
